*.tif
**/*.tif
production/
tif_drop/
*.mp4
**/*.mp4
mangrove
drop_billiard
wave_billiard
lennardjones
wave_energy
heat
wave_3d
particle_pinball
particle_billiard
wave_comparison
schrodinger
wave_left.dat
wave_right.dat
.vscode/*.log